$sample : #ededed;
$gray-blue : #304156;
$dark-gray-blue :#1f2d3d;

.bg-sample{
  background-color: #ededed;
}
.bg-gray{
  background-color: #d1d2d4;
}
.bg-red{
  background-color: #ff1244;
}
.bg-yellow{
  background-color: #f8bd0b;
}
.bg-light-green{
  background-color: #8cc540;
}
.bg-dark-green{
  background-color: #009f5d;
}
.bg-blue-green{
  background-color: #167c80;
}
.bg-orange{
  background-color: #ff8345;
}
.bg-purple{
  background-color: #887ddd
}
.bg-light-purple{
  background-color: #cd7bdd;
}
.bg-pink{
  background-color: #f3c9dd;
}
.bg-blue{
  background-color: #007cdc;
}
.bg-light-blue{
  background-color: #019fde;
}
.bg-dark-blue{
  background-color: #019fa0;
}
.bg-gray-blue{
  background-color: #304156;
}
.bg-dark-gray-blue{
  background-color: #1f2d3d;
}
